.portfolio-hover .portfolio-single a{
     background: url('../fsns_assets/misc/pdf.png') no-repeat center center;
}
.portfolio:hover .portfolio-single{
    right: 50%;
    margin-right: -28px;
}
.grid_4 figcaption .caption-title
{
    border-left:0;
    width:100%;
}

.blog-post-single .post-body-container
{
    width:100%;
    border-left:0;
    padding-left:0;
    margin-left:0;
}
#nav li a
{
    text-align:center;
    font-size:11px;
}
#nav li li  a
{
    text-align:left;
}
#nav li{
    margin-right:60px;
}
#nav-container
{
    height:20px;
    width: auto;
    margin-top:0;
    float:none;
}

.portfolio
{
    border:1px solid #ddd;
    transition:all .20s linear;
}
.portfolio:hover{
    box-shadow: 0px 0px 10px 3px #ddd;
}

#logo
{
   /* margin-right:0;*/
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    

    #logo{
        float: none;
        margin: 0 auto 30px;
    }
}
.portfolio-image{
    text-align:center;
}
.portfolio-image a img
{
    max-height:156px;
    width:auto;
    margin:0 auto;
}